@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

.main-container{
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-image: url("/client/src/assets/bgmain.webp");
}
.heading{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  padding-bottom: 4%;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  border: 1px solid black;
  background: #fff;
  border-radius: 15px;
  width: 350px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 18px;
}
.card:hover{
  z-index:10;
  box-shadow: 1px 2px 23px #26395347;
}
.img{
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 200px;
  background-size: cover;
}
.btn{
  background-color: #000;
  color: #fff;
  font-size: 13px;
  min-height: 32px;
  width: 140px;
  padding: 13px;
  border: 0.5px solid black;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}
.btn:hover{
  background: transparent;
  color: #000;
  font-weight: 600;
  border: 0.5px solid black;
}
.actions-card{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.homeCardInfo{
  padding: 5px;
}
.title {
  color: #2b3d59;
  padding-bottom: 5px;
  font-size: 24px;
}
.second-text {
  color: #828fa1;
}
.bottom-text {
  color: #445b73;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding-left: 8px;
  font-size: 14px;
}
.actions {
  background: none;
  border: none;
  color: purple;
}