.signup-container {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.welcome-message {
    padding: 20px;
}
.signup-form {
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
    min-width: 400px;
    align-self: center;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
}
.headCreateAcc{
    text-align: center;
    padding-bottom: 10px;
}
.signupBtn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
.signupBtn:hover {
    background-color: #0056b3;
}
.warning{
    color: red;
    font-family: "Lato";
    font-size: 16px;
    font-style: italic;
}