.result {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.travel-para{
    margin-top: 20px;
    font-size: 24px;
}
.selected {
  border: 2px solid black;
  transition: transform 0.2s ease;
  transform: scale(1.1);
}
.image {
  transition: transform 0.2s ease;
}
.travelComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}
.container1 {
  display: flex;
  align-items: center;
}
.searchField {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
  margin-right: 15px;
}
.searchInput {
  width: 250px;
  border-radius: 5px;
  outline: none;
  border-width: 0px;
  font-size: 16px;
}
.searchIcon {
  background-color: transparent;
  border-width: 0px;
  padding: 0px 5px;
  cursor: pointer;
}
.searchBtn {
  background-color: skyblue;
  width: 120px;
  cursor: pointer;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #000;
}
.image {
  width: 250px;
  height: 200px;
  margin: 50px;
  border-radius: 10px;
  cursor: pointer;
}
.image:hover {
  transform: scale(1.1);
}
.resultsdisplay{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.eachOne{
  padding: 10px;
  background-color: aliceblue;
  width: 80vw;
  border-radius: 8px;
  max-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.p{
  color: rgb(54, 54, 54);
  font-family: "Roboto";
  font-size: 18px;
}
.paratt1{
  font-size: 16px;
}
.paratt2{
  font-size: 12px;
  color: grey;
}